h2 {
    font-family: 'Lora', serif;
    font-weight: 200;
    font-size: x-large;
    margin-bottom: 4rem;
}

h4 {
    font-family: 'Lora', serif;
    font-weight: 100;
    font-size: medium;
    margin-bottom: 3rem;
}

.poem {
    line-height: 2.5;
    font-family: 'Lora', serif;
    font-weight: 100;
    font-size: medium;
    margin-bottom: 2rem;
}

.button {
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border-style: none;
}

.button:hover {
    -webkit-box-shadow: 0px 2px 6px #666666;
    -moz-box-shadow: 0px 2px 6px #666666;
    box-shadow: 0px 2px 6px #666666;
}