h2 {
    font-family: 'Lora', serif;
    font-weight: 200;
    font-size: x-large;
    margin-bottom: 4rem;
}


button {
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    background: #ffffff;
    text-decoration: none;
    border-style: none;
    cursor: pointer;
    margin-bottom: 15px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: max(12rem);
    padding-right: max(12rem);
    font-size: 20px;
}

button:hover {
    -webkit-box-shadow: 0px 2px 6px #666666;
    -moz-box-shadow: 0px 2px 6px #666666;
    box-shadow: 0px 2px 6px #666666;
}

